# Ngrok Authentication Token (Get from https://dashboard.ngrok.com/get-started/your-authtoken)
NGROK_AUTHTOKEN=TOKEN

# Cloudinary credentials for Frontend Image Upload
VITE_CLOUDINARY_API_KEY=key
VITE_CLOUDINARY_API_SECRET=secret
VITE_CLOUDINARY_CLOUD_NAME=name

SPRING_MAIL_USERNAME=username
SPRING_MAIL_PASSWORD=password